* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
